:root {
      --dark-blue: #1D1D2C;
      --cream: #F7F4E9;
      --light-blue: #3CBCC3;
      --orange: #EBA63F;
      --green: #438945;
    }

body {
  font-family: 'Sora', sans-serif;
  background-color: rgba(240, 240, 240, 0.2);
}

.callout {
  background-color: var(--cream) !important;
  border-radius: 8px !important;
  padding: 20px !important;
  margin: 10px 0 !important;
}

.card{
  margin: 10px -5px !important;
}

.container{
  max-width: 900px !important;
}

.navbar{
  background-color: var(--dark-blue) !important;
}

.navbar-toggler{
  background-color: var(--cream) !important;
}

.nav-link, .nav-item {
  color: #ccc !important;
}

.navbar-brand{
  color: white !important;
}

.nav-link:hover,
.nav-link:focus,
.nav-link.active,
.a.nav-link,
.a.nav-link.active,
.nav-item:hover,
.nav-item:focus,
.nav-item.active {
  color: #fff !important;
}