:root {
      --energy-color: #66c2a5;
      --health-color: #fc8d62;
      --life-satisfaction-color: #e78ac3;
      --work-satisfaction-color: #377eb8;
    }

body {
  font-family: 'Neuemontreal', sans-serif;
}

.callout {
  background-color: #f2f2f2 !important;
  border-radius: 8px !important;
  padding: 20px !important;
  margin: 10px 0 !important;
}

.card{
  margin: 10px -5px !important;
}

.container{
  max-width: 900px !important;
}